<div
  class="container"
  *ngIf="weatherDataO$ | async as weatherDataO; else loadingOrError"
  [ngStyle]="{
    'background-image': 'url(' + url + ')'
  }"
>
  <div class="mask" *ngIf="weatherDataO$ | async as weatherDataO">
    <div class="card">
      <div
        class="left-div"
        [ngStyle]="{ 'background-image': 'url(' + url + ')' }"
      >
        <div class="left-div-mask">
          <div class="weather-info">
            <div class="locationAndTime">
              <span class="mainLocation">{{ weatherDataO.name }}</span>
              <span class="DateAndTime">{{
                weatherDataO.dt | date : "h:mm a - EEEE, d MMM yy"
              }}</span>
            </div>
            <div class="weather-data-container">
              <div class="mainTemperature">{{ weatherDataO.main.temp }}°</div>
              <div class="weatherIconContainer">
                <span
                  class="icon material-symbols-outlined"
                  *ngIf="
                    weatherDataO.weather[0].description === 'clear sky' ||
                    weatherDataO.weather[0].description === 'Clear' ||
                    weatherDataO.weather[0].description === 'Windy'
                  "
                >
                  light_mode
                </span>
                <span
                  class="icon material-symbols-outlined"
                  *ngIf="
                    weatherDataO.weather[0].description === 'light rain' ||
                    weatherDataO.weather[0].description === 'moderate rain' ||
                    weatherDataO.weather[0].description ===
                      'heavy intensity rain' ||
                    weatherDataO.weather[0].description === 'very heavy rain' ||
                    weatherDataO.weather[0].description === 'extreme rain' ||
                    weatherDataO.weather[0].description === 'freezing rain' ||
                    weatherDataO.weather[0].description ===
                      'light intensity shower rain' ||
                    weatherDataO.weather[0].description === 'shower rain' ||
                    weatherDataO.weather[0].description ===
                      'heavy intensity shower rain' ||
                    weatherDataO.weather[0].description ===
                      'ragged shower rain' ||
                    weatherDataO.weather[0].description ===
                      'light intensity drizzle' ||
                    weatherDataO.weather[0].description === 'drizzle' ||
                    weatherDataO.weather[0].description ===
                      'heavy intensity drizzle' ||
                    weatherDataO.weather[0].description ===
                      'light intensity drizzle rain' ||
                    weatherDataO.weather[0].description === 'drizzle rain' ||
                    weatherDataO.weather[0].description ===
                      'heavy intensity drizzle rain' ||
                    weatherDataO.weather[0].description ===
                      'shower rain and drizzle' ||
                    weatherDataO.weather[0].description ===
                      'heavy shower rain and drizzle' ||
                    weatherDataO.weather[0].description === 'shower drizzle'
                      ? true
                      : false
                  "
                >
                  rainy
                </span>

                <span
                  class="icon material-symbols-outlined"
                  *ngIf="
                    weatherDataO.weather[0].description === 'mist' ||
                    weatherDataO.weather[0].description === 'Fog' ||
                    weatherDataO.weather[0].description === 'Haze'
                      ? true
                      : false
                  "
                >
                  foggy
                </span>
                <span
                  class="icon material-symbols-outlined"
                  *ngIf="
                    weatherDataO.weather[0].description === 'light snow' ||
                    weatherDataO.weather[0].description === 'Snow' ||
                    weatherDataO.weather[0].description === 'Heavy snow' ||
                    weatherDataO.weather[0].description === 'Sleet' ||
                    weatherDataO.weather[0].description ===
                      'Light shower sleet' ||
                    weatherDataO.weather[0].description === 'Shower sleet' ||
                    weatherDataO.weather[0].description ===
                      'Light rain and snow' ||
                    weatherDataO.weather[0].description === 'Rain and snow' ||
                    weatherDataO.weather[0].description ===
                      'Light shower snow' ||
                    weatherDataO.weather[0].description === 'Shower snow' ||
                    weatherDataO.weather[0].description === 'Heavy shower snow'
                  "
                >
                  ac_unit
                </span>
                <span
                  class="icon material-symbols-outlined"
                  *ngIf="
                    weatherDataO.weather[0].description ===
                      'thunderstorm with light rain' ||
                    weatherDataO.weather[0].description ===
                      'thunderstorm with rain' ||
                    weatherDataO.weather[0].description ===
                      'thunderstorm with heavy rain' ||
                    weatherDataO.weather[0].description ===
                      'light thunderstorm' ||
                    weatherDataO.weather[0].description === 'thunderstorm' ||
                    weatherDataO.weather[0].description ===
                      'heavy thunderstorm' ||
                    weatherDataO.weather[0].description ===
                      'ragged thunderstorm' ||
                    weatherDataO.weather[0].description ===
                      'thunderstorm with light drizzle' ||
                    weatherDataO.weather[0].description ===
                      'thunderstorm with drizzle' ||
                    weatherDataO.weather[0].description ===
                      'thunderstorm with heavy drizzle'
                  "
                >
                  thunderstorm
                </span>
                <span
                  class="icon material-symbols-outlined"
                  *ngIf="
                    weatherDataO.weather[0].description === 'few clouds' ||
                    weatherDataO.weather[0].description ===
                      'scattered clouds' ||
                    weatherDataO.weather[0].description === 'broken clouds' ||
                    weatherDataO.weather[0].description === 'overcast clouds'
                  "
                >
                  cloudy
                </span>
                <span class="status">{{
                  weatherDataO.weather[0].description
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-div">
        <div class="top-div">
          <form #form="ngForm">
            <input
              class="form-control location-input"
              id="location"
              type="text"
              [(ngModel)]="city"
              name="location"
              placeholder="Another location"
              required
              pattern="[a-zA-z ]+"
            />
            <button
              class="search-button"
              type="submit"
              [disabled]="!form.valid"
              (click)="onSubmit()"
            >
              <span class="material-symbols-outlined"> search </span>
            </button>
            <div class="city-list">
              <button
                class="cities"
                *ngFor="let city of cityList"
                (click)="onSelect(city)"
              >
                <span>{{ city }}</span>
              </button>
            </div>
          </form>
        </div>
        <hr />
        <div class="bottom-div">
          <div class="weather-details-heading">Weather details</div>
          <div class="weather-details">
            <div class="weather-headings">
              <span class="weather">Cloudy</span>
              <span class="weather">Humidity</span>
              <span class="weather">Wind</span>
              <span class="weather">Feels like</span>
            </div>
            <div class="weather-values">
              <span class="weather">{{ weatherDataO.clouds.all }} %</span>
              <span class="weather">{{ weatherDataO.main.humidity }} %</span>
              <span class="weather">{{ weatherDataO.wind.speed }} Km/h</span>
              <span class="weather">{{ weatherDataO.main.feels_like }} °C</span>
            </div>
          </div>
          <hr class="final-ruler" />
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <div *ngIf="loadingError$ | async; else loading">
    <div class="error-container">
      <img src="../../assets/images/error/some_internal_error.gif" alt="" />
      <div class="error">
        Some Internal Error occured. Please try again later.
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading-container loading">
      <img src="../../assets/images/loading/loading.gif" />
    </div>
  </ng-template>
</ng-template>
