.mainTemperature {
    font-size: 90px;
    font-weight: 500;
}

.locationAndTime {
    display: inline-flex;
    flex-direction: column;
}

.mainLocation {
    display: block;
    font-size: 50px;
}

.weatherIconContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    display: block;
    font-size: 50px;
}

.top-div {
    width: 100%;
    height: 50%;
    position: relative;

    display: flex;
    justify-content: flex-end;
}

.bottom-div {
    width: 100%;
    height: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
    ;
}

.location-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(221, 221, 221, 0.863);
    outline: none;
    font-size: 16px;

    position: relative;
    width: 291px;
    color: rgb(221, 221, 221);
    font-size: 20px;
}

::placeholder {
    color: rgb(221, 221, 221);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.search-button {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.797);
}

.search-button:hover {
    background-color: rgba(255, 255, 255);
}

.city-list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -22px;
    width: 291px;
}

.cities {
    display: flex;
    background: transparent;
    border: none;
    padding-top: 25px;
}

.cities span {
    color: rgb(221, 221, 221);
    font-size: 18px;
    align-items: flex-start;
}

.validation-message {
    color: rgb(255, 133, 133);
    font-size: 18px;
}

.right-div hr {
    width: 90%;
    position: relative;
    left: 5%;
}

.weather-details-heading {
    display: block;
    position: relative;
    top: 10%;
    left: 8.5%;
    width: fit-content;
    font-size: 20px;
    color: white;
}

.weather {
    font-size: 18px;
    padding-top: 12%;
    color: rgb(221, 221, 221);
}

.weather-details {
    position: relative;
    width: 80%;
    padding-top: 8%;
    padding-bottom: 10%;
    left: 8.5%;

    display: flex;
    flex-direction: row;
}

.weather-headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.weather-values {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.value {
    position: relative;
    left: 65%;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background-color: #4f4367;
}

.error {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    background-color: #334960;
}

@media only screen and (min-width: 1501px) {

    .card {
        overflow-y: hidden;
    }

    .mainTemperature {
        position: relative;
        bottom: 75px;
        left: 110px;
    }

    .locationAndTime {
        position: relative;
        left: 81px;
        bottom: 99px;
    }

    .weatherIconContainer {
        position: relative;
        left: 121px;
        bottom: 75px;
    }

    .weather-data-container {
        display: inline-flex;
        flex-direction: row;
    }

    .location-input {
        right: 22px;
        width: 291px;
        top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .card {
        width: 100vw;
        height: 100vh;
        display: inline-flex;
        flex-direction: column;
    }

    .error {
        text-align: center;
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .left-div {
        display: inline-flex;
        flex-direction: column;
        height: 40vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .right-div {
        display: inline-flex;
        flex-direction: column;
        height: 60vh;
        width: 100%;
        background: none;
    }

    .mainTemperature {
        font-size: 50px;
        font-weight: 500;
        display: inline-flex;
        position: relative;
    }

    .locationAndTime {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        padding: 2vh 0%;
    }

    .weatherIconContainer {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .city-list {
        display: none;
    }

    .top-div {
        height: auto;
        top: 5%;
        justify-content: center;
    }

    .location-input {
        border: none;
        background: transparent;
        outline: none;
        font-size: 16px;
        left: 10%;
        color: rgb(221, 221, 221);
        font-size: 20px;
    }

    .search-button {
        width: 50px;
        height: 50px;

        position: relative;
        left: 20%;
    }

    hr {
        top: 9%;
    }

    .bottom-div {
        top: 15%;
    }

    .top-div {
        flex-direction: row;
    }

    .location-input {
        width: 60%;
        padding: 10px;
        display: inline-block;
    }

    .weather-data-container {
        padding: 3vh 0vh;
    }

    .weather-info {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}