<div class="container">
  <div class="mask">
    <div class="card">
      <div class="left-div">
        <span class="mainTemperature">26°</span>
        <div class="locationAndTime">
          <span class="mainLocation">London</span>
          <span class="DateAndTime">10:36 - Tuesday, 22 Oct 19</span>
        </div>
        <div class="weatherIconContainer">
          <span class="icon"></span>
          <span class="status">sunny</span>
        </div>
      </div>
      <div class="right-div">
        <div class="top-div"></div>
        <div class="bottom-div"></div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
