<div class="container">
  <div class="upper-data">
    <img src="../assets/cold.jpg" alt="" *ngIf="14 < 15" />
    <img src="../assets/hot.jpg" alt="" *ngIf="14 > 15" />

    <div class="weather-data">
      <div class="location">Weelington</div>
      <div class="temperature">{{ 14.4 | number: "1.0.0" }}15°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">More information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg" alt="" />
          <span>min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.jpg" alt="" />
          <span>max</span>
        </div>
        <div class="info-block-value">20°C</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="" />
          <span>wind</span>
        </div>
        <div class="info-block-value">3Km/h</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
